:root{

--primary:#009B3A;
--primary-dark:#007A2E;

--black:#111111;
--white:#FFFFFF;

--background:#F5F7FA;

--success:#2E7D32;

--warning:#FFC107;

--danger:#E53935;

--border:#E5E7EB;

--radius:14px;

}